{% extends "layout.html.twig" %} {% block title %}Panier{% endblock %} {% block content %}
<div class="jumbotron">
        <div class="row">
            <div class="col-md-6">
                <h2>Votre panier<br></h2>
                <div class="well">
                                <div class="form-group">
                                    <table class="table table-striped">
                                        <tbody>
                                            <tr>
                                                <th>Jeux</th> 
                                                <th>Quantité</th>
                                                <th>Prix(€)</th>
                                            </tr>
                {% for order in orders %}
                        <game>
                                    <tr>
                                            <th> <a class="game" href="{{ path('game', { 'id': order.game_id }) }}">{{order.game_name}}</a></th> 
                                            <th><p>{{ order.bas_quantity }}</p></th>
                                            <th>{{order.game_price}}</th>
                                            <th> 
                                                 <a href="{{ path('deleteOrder', { 'id': order.basket_id }) }}" type="button" class="btn-danger btn-sm glyphicon glyphicon-remove-sign red"></a>
                                            </th>   
                                    </tr>
                            
                        </game>
                {% endfor %}
                                         </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}