{% extends "layout.html.twig" %} {% block title %}{{ game.name }}{% endblock %} {% block content %}
<div class="jumbotron">
        <div class="row">
            <div class="col-md-6">
                <img src={{ game.image }} width="400" alt="Mon Image">
            </div> 
            <div class="col-md-6">
            

    <h2>{{ game.name }}</h2>
    <p>Description : {{ game.descriptionLong }}</p>
    <p> Prix :{{ game.price }}€</p>
    <p>Date de sortie : {{ game.year }}</p>
    <p>Catégorie{{ game.type }}</p>
    <p>Il reste {{ game.number }} exemplaire disponible.</p>
                
    </div>
            <div class="col-md-12">
            
            
            

    {% if app.user and is_granted('IS_AUTHENTICATED_FULLY') %}
                    <a href="{{ path('add_product_basket', {'id': game.id}) }}" class="btn btn-danger"><span class="glyphicon glyphicon-plus"></span> Ajouter au panier</a>
    {% else %}
                        <a href="{{ path('login') }} ">Log in</a> to add something to your basket.
    {% endif %}
    

</p>
            </div>
    </div>
</div>
            
{% endblock %}