{% extends "layout.html.twig" %} 
{% block name %}{{ game.name }}{% endblock %} 
{% block content %}
<p>
    <h2>{{ game.name }}</h2>
    <p>{{ game.descriptionLong }}</p>
    <img src={{ game.image }}>
    <p>{{ game.price }}</p>
    <p>{{ game.year }}</p>
    <p>{{ game.type }}</p>
    <p>{{ game.number }}</p>

</p>
{% endblock %}