{% extends "layout.html.twig" %}

{% block title %}Profil{% endblock %}

{% block content %}
    <h2 class="text-center">{{ block('title') }}</h2>

{% for flashMessage in app.session.flashbag.get('success') %}
<div class="alert alert-success">
    {{ flashMessage }}
</div>
{% endfor %}

<article>
    <div class="well">
        <div class="form-group">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th> Surname : </th> 
                        <th>{{ app.user.userlastname }}</th>
                    </tr>
                    <tr>
                        <th> First Name : </th>
                        <th>{{ app.users.username }}</th>
                    </tr>
                    <tr>
                        <th> Address : </th>
                        <th>{{ app.user.address }}</th>
                    </tr>
                    <tr>    
                        <th> City :</th>
                        <th>{{ app.user.city }}</th>
                    </tr>
                    <tr>    
                        <th> Zip :</th>
                        <th>{{ app.user.zip }}</th>
                    </tr>
                    <tr>    
                        <th> Mail : </th>
                         <th>{{ app.user.email }}
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-offset-5 col-sm-3">
            <a href="{{ path('profil_edit') }}" class="btn btn-primary btn-default">Edit</a>
        </div>
    </div>
</article>
{% endblock %}