{% extends "layout.html.twig" %}

{% block title %}Profil{% endblock %}

{% block content %}
    <h2 class="text-center">{{ block('title') }}</h2>


<article>
    <div class="well">
        <div class="form-group">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th> Nom : </th> 
                        <th>{{ app.user.userlastname }}</th>
                    </tr>
                    <tr>
                        <th> Prénom : </th>
                        <th>{{ app.user.username }}</th>
                    </tr>
                    <tr>
                        <th> Adresse : </th>
                        <th>{{ app.user.adress }}</th>
                    </tr>
                    <tr>    
                        <th> Ville :</th>
                        <th>{{ app.user.city }}</th>
                    </tr>
                    <tr>    
                        <th> Code postal :</th>
                        <th>{{ app.user.zip }}</th>
                    </tr>
                    <tr>    
                        <th> Email : </th>
                         <th>{{ app.user.email }}
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-offset-5 col-sm-3">
            <a href="{{ path('profile_update') }}" class="btn btn-primary btn-default">Edit</a>
        </div>
    </div>
</article>
{% endblock %}