{% extends "layout.html.twig" %}

{% block title %}{{ 'Account settings'|trans }}{% endblock %}

{% block content %}
    <h2 class="text-center">{{ block('title') }}</h2>

        <form action="{{ url('profile_update') }}" method="post">
                <div class="form-group">
                    <label class="col-md-3" for="firstName">{{ 'First Name'|trans }}</label>
                    {% if edit is defined %}
                        <div class="col-md-9"><input class="form-control" name="firstName" value="{{ app.user.userName }}" data-validation="length alphanumeric" data-validation-length="min1"></div>
                    {% else %}
                        <p class="col-md-9">{{ app.user.userName }}</p>
                    {% endif %}
                </div>
                
                <div class="form-group">
                    <label class="col-md-3" for="lastName">{{ 'Last Name'|trans }}</label>
                    {% if edit is defined %}
                        <div class="col-md-9"><input class="form-control" name="lastName" value="{{ app.user.userLastName }}"></div>
                    {% else %}
                        <p class="col-md-9">{{ app.user.userLastName }}</p>
                    {% endif %}
                </div>
                
                <div class="form-group">
                    <label class="col-md-3" for="email">{{ 'Email'|trans }}</label>
                    {% if edit is defined %}
                        <div class="col-md-9"><input class="form-control" name="email" value="{{ app.user.email }}"></div>
                    {% else %}
                        <p class="col-md-9">{{ app.user.email }}</p>
                    {% endif %}
                </div>
                
                <div class="form-group">
                    <label class="col-md-3" for="address">{{ 'Address'|trans }}</label>
                    {% if edit is defined %}
                        <div class="col-md-9"><input class="form-control" name="address" value="{{ app.user.address }}"></div>
                    {% else %}
                        <p class="col-md-9">{{ app.user.address }}</p>
                    {% endif %}
                </div>
                
                <div class="form-group">
                    <label class="col-md-3" for="city">{{ 'City'|trans }}</label>
                    {% if edit is defined %}
                        <div class="col-md-9"><input class="form-control" name="city" value="{{ app.user.city }}"></div>
                    {% else %}
                        <p class="col-md-9">{{ app.user.city }}</p>
                    {% endif %}
                </div>
                
                <div class="form-group">
                    <label class="col-md-3" for="zip">{{ 'Zip Code'|trans }}</label>
                    {% if edit is defined %}
                        <div class="col-md-9"><input class="form-control" name="zip" value="{{ app.user.zip }}"></div>
                    {% else %}
                        <p class="col-md-9">{{ app.user.zip }}</p>
                    {% endif %}
                </div>

            {% if edit is defined %}
                <input class="btn btn-default mustMove" type="submit" value="{{ 'Edit informations'|trans }}" />
            {% else %}
                <a class="mustMove" href="{{ url('edit_user') }}">{{ 'Edit informations'|trans }}</button>
            {% endif %}

        </form>
 
{% endblock %}